{
  "extends": "airbnb",
  "rules": {
    "space-before-function-paren": ["error", "always"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
